# ROS2 build and install artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python build
*.egg-info/
dist/

# Editor and Operating Systems
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# Colcon metadata
.colcon/
